.work-card{
    width:22rem;
    padding: 30px;
    box-shadow: 3px 3px 20px rgb(212, 212, 212);
    border-radius: 12px;    
    border:0 !important;
}

.work-card__image{
    border-radius: 14px;
}

.work-card__tag{
color: rgb(99, 99, 99);
}

.work-card__title{
    color: rgb(34, 34, 34);
}

.work-card__body{
    padding-bottom: 0px;

}
