.profile-pic {
  border-radius: 50%;
  height: 180;
  width: 180px;
  float:  right;
  margin-left: 5vw;
  padding: 10px;
}

.home-parent-container {
  padding-right: 10vw;
  padding-left: 10vw;
}


.home-container {
  display: flex;
  padding-top: 8vh;
  font-family: monospace;
  justify-content: space-between;
  align-items: center;
}



.helloiam{
  font-size: 1.5em;
}
.myname{
font-size: 2.5em;
font-weight: 520;
}

.rolename{
font-size: x-large;
}


.link-button {
  border-radius: 10px;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 8px;
  margin-right: 2vh;

  box-shadow: 0px 0px 5px rgb(194, 194, 194);
}



.about-me {
  width: 60%;
}

.skills {
  width: 35%;
}

.section-height{
  min-height: 650px;
}

.left-section {
  margin-right: 4vw;
}

.columns {
  display: flex;
}


@media (min-width: 1600px){
  .home-parent-container{
  padding-left: 16vw;
  padding-right: 16vw;
}
}



@media (max-width: 768px) {


  .columns {
    display: block;
  }

  .profile-pic {
    margin-top: 0 ;
    margin-left: 10px;
    height: 90px;
    width: 90px;
  }

  .about-me,
  .skills {
    width: 100%;
  }

  .left-section {
    margin-right: 0;
  }

  .section-height{
    min-height: 0px;
  }

  .link-button {
    border-radius: 8px;
    width: 35px;
    height: 35px;
    padding:5px;
    margin-top: 1vh;
  }

  .helloiam{
    font-size: small;
  }
  .myname{
  font-size: x-large;
  line-height: auto;
  line-height: 24px;
  font-weight: 500;
  }
  
  .rolename{
  font-size: x-small;
  }


.home-container {
  padding-top: 15vh;
}

}